.likeButton {
    background-color: blue;
    width: 100px;
    color: white;
    font-weight: 400;
    padding-top: 3px;
    padding-bottom: 3px;    
    border-radius: 6px;
    margin-top: 10px;
}


.individualImage {
    border-radius: 4px;
    border: solid #444 1px;
    padding: 4px;
    height: 250px;
    width: 250px;
}

.numLikes {
    color: darkcyan;
    font-size: 14px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}